{
  "books": [
    {
      "name": "Romeo and Juliet",
      "author": "William Shakespeare",
      "publisher": "Simon & Schuster"
    },
    {
      "name": "Don Quijote",
      "author": "Miguel de Cervantes Saavedra",
      "publisher": "Usborne"
    }
  ],
  "totalRecords": 2
}
