{
  "books": [
    {
      "name": "Romeo and Juliet",
      "author": "William Shakespeare"
    },
    {
      "name": "Don Quijote",
      "author": "Miguel de Cervantes Saavedra"
    }
  ],
  "totalRecords": 2
}
